<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Confirm your email</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>Thanks for registering. </p>
    <p>Your username is: {{username}}</p>
    <p>Please follow the next link to confirm your account:

    </p>
  </body>
</html>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>EMAILS</title>
    <style>
      .containerEmail { border: 3px solid black; margin: 65px 10px 10px 10px;
      background-image: url("https://i.postimg.cc/pVyfxJt2/BKG-Book-Store.png");
      background-size: cover; } .headerEmail { display: flex; flex-direction:
      row; align-items: center; justify-content: flex-start; margin-bottom:
      20px; padding: 5px 0px; width: 100%; background: rgb(233, 201, 154);
      background: linear-gradient( 90deg, rgba(233, 201, 154, 1) 0%, rgba(233,
      201, 154, 0.49791488861169464) 50%, rgba(233, 201, 154, 0) 83% ); }
      .logoEmail { display: flex; width: 50px; height: 50px; margin-left: 10px;
      } .logoFooter { display: flex; width: 30px; height: 30px; margin-left:
      10px; } .bookStore p { font-size: 20px; margin-left: 5px; padding: 0px;
      font-family: "Poppins"; font-weight: 600; } .bookStore p:last-child {
      margin-top: -25px; } .thanks { font-size: 20px; margin-left: 30px; color:
      #322118; font-family: "Poppins"; } .comeback, .yourbook { font-size: 18px;
      margin-left: 30px; padding: 15px; font-style: italic; font-family:
      "Poppins"; } .containerBookDet0 { display: flex; justify-content: center;
      margin: 15px 0px; } .containerBookDet { display: flex; flex-direction:
      column; justify-items: center; align-items: center; background-color:
      rgba(207, 202, 196, 0.5); width: 300px; padding: 15px; border-radius: 5px;
      } .containerBookDet p { font-size: 20px; font-weight: 700; text-align:
      center; } .containerBookDet img { border-radius: 5px; } .containerCode0 {
      display: flex; justify-content: center; margin: 15px 0px; }
      .containerCode1 { display: flex; flex-direction: column; justify-items:
      center; align-items: center; background-color: rgba(207, 202, 196, 0.5);
      width: 300px; padding: 10px; border-radius: 5px; } .containerCode1 p {
      font-size: 28px; font-weight: 700; text-align: center; } .footer {
      margin-top: 20px; padding: 5px 0px; width: 100%; background: rgb(233, 201,
      154); background: linear-gradient( 90deg, rgba(233, 201, 154, 1) 0%,
      rgba(233, 201, 154, 0.49791488861169464) 50%, rgba(233, 201, 154, 0) 83%
      ); } .containerButtonReset { display: flex; justify-content: center;
      margin: 15px 0px 25px 0px; } .buttonReset { border-radius: 5px; padding:
      10px; margin: 10px; border: none; font-size: 18px; font-weight: 600;
      width: 400px; color: #1e110b; background-color: #ddb577;
      -webkit-box-shadow: 0px 0.3px 2px 0px rgba(0, 0, 0, 0.6); box-shadow: 0px
      0.3px 2px 0px rgba(0, 0, 0, 0.6); cursor: pointer; transition: 0.7s; }
      .buttonReset:hover { color: #ddb577; background-color: #674533e6;
      transition: 0.7s; } .aReset:link, .aReset:visited, .aReset:hover,
      .aReset:active { text-decoration: none; color: inherit; }
    </style>
  </head>
  <body>
    <div class='containerEmail'>
      <div class='headerEmail'>
        <img
          src='https://i.postimg.cc/k56kSt0K/Book-Logo.png'
          class='logoEmail'
          alt=''
        />
        <div>
          <span class='bookStore'><p>Book</p>
            <p>Store</p></span>
        </div>
      </div>
      <p class='thanks'>
        Hi
        <b>{{name}}</b>, many thanks for registering in BookStore!
      </p>
      <p class='thanks'>Your username is <b>{{username}}</b></p>
      <p class='yourbook'>
        Please click on the button bellow to confirm your account:
      </p>
      <p class='containerButtonReset'>
        <button class='buttonReset'>
          <a
            class='aReset'
            href='http://localhost:3001/confirm?token={{token}}'
          >CONFIRM ACCOUNT</a>
        </button>
      </p>
      <p class='comeback'>
        We look forward to seeing you in
        <a
          target='_blank'
          rel='noreferrer'
          href='https://bookstore-rose.vercel.app/'
        ><b>BookStore</b></a>!
      </p>
      <div class='footer'>
        <img
          src='https://i.postimg.cc/k56kSt0K/Book-Logo.png'
          class='logoFooter'
          alt=''
        />
      </div>
    </div>
  </body>
</html>